<section class="categories">
  <a class="cat" href="pages/category.html?cat=electronics">
    <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?q=80&w=900" alt="إلكترونيات">
    <h3>إلكترونيات</h3>
  </a>

  <a class="cat" href="pages/category.html?cat=watches">
    <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=900" alt="ساعات">
    <h3>ساعات</h3>
  </a>

  <a class="cat" href="pages/category.html?cat=cars">
    <img src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=900" alt="سيارات">
    <h3>سيارات</h3>
  </a>

  <a class="cat" href="pages/category.html?cat=realestate">
    <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?q=80&w=900" alt="عقارات">
    <h3>عقارات</h3>
  </a>

  <a class="cat" href="pages/category.html?cat=fashion">
    <img src="https://images.unsplash.com/photo-1496747611176-843222e1e57c?q=80&w=900" alt="أزياء">
    <h3>أزياء</h3>
  </a>

  <a class="cat" href="pages/category.html?cat=home">
    <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?q=80&w=900" alt="منزل ومطبخ">
    <h3>منزل ومطبخ</h3>
  </a>
</section>
