<div class="wide-ad">
  <div>
    <h2>المستعمل صار <span>أكثر ثقة</span></h2>
    <p>كل منتج مستعمل يظهر بحالته، درجة نظافته، نتيجة الفحص، ومدة الضمان قبل الشراء.</p>
    <a href="pages/category.html?cat=used" class="btn">تصفح المستعمل المضمون</a>
  </div>
</div>
